*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    margin: 0; /* Eliminar márgenes predeterminados */
    padding: 0; /* Eliminar relleno predeterminado */
    height: 40%;
}

.logo-img{
    float: left;
    margin-right: 10px;
    width: 80px;
    height: 80px;
    margin-top: 0;
    justify-content: center;
   position: relative;
   bottom: 10px;
}

.navbar {
    background-color: #0f0f0f;
    text-align: center; 
    padding: 10px 0; 
    width: 100%;
    height: 80px;
}

.nav-list {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.nav-item {
    margin-right: 20px; /* Espaciado entre elementos */
   
}

.nav-item:last-child {
    margin-right: 0; /* Eliminar el margen derecho del último elemento */
}

.nav-item a {
    text-decoration: none; /* Eliminar subrayado de los enlaces */
    color: #fff; /* Color del texto de los enlaces */
    font-weight: bold; /* Texto en negrita */
    font-size: 28px; /* Tamaño de fuente */
}

.nav-item a:hover {
    color: gray;/* Subrayar el enlace al pasar el ratón */
}
 /* Estilos para las cajas */
.container {
    display: flex; /* Utilizar flexbox para alinear horizontalmente las cajas */
    justify-content: center; /* Centrar horizontalmente las cajas */
    margin: 20px 0; /* Espaciado superior e inferior para las cajas */
}

.box {
    width: 400px; /* Ancho de las cajas */
    height: 400px; /* Altura de las cajas */
    background-color: #f0f0f0; /* Color de fondo de las cajas */
    border-radius: 10px; /* Bordes redondeados */
    text-align: center; /* Alinear el contenido al centro de las cajas */
    line-height: 200px; /* Centrar verticalmente el contenido */
    margin: 0 10px; /* Espaciado entre las cajas */
}



