*{
    text-decoration: none;
    list-style: none;
}

.logo-img{
    float: left;
    margin-right: 10px;
    width: 80px;
    height: 80px;
    margin-top: 0;
    justify-content: center;
   position: relative;
   bottom: 10px;
}

.navbar {
    background-color: #0f0f0f; /* Color de fondo de la barra de navegación */
    text-align: center; /* Alinear el contenido al centro */
    padding: 10px 0; /* Espaciado interno en la parte superior e inferior */
    width: 100%;
    height: 6.3%;
    position: fixed; /* Fijar la barra de navegación en la parte superior */
    top: 0;
    left: 0; /* Asegurarse de que esté en la parte superior */
}

.nav-list {
    list-style: none; /* Eliminar las viñetas de la lista */
    margin: 0;
    padding: 0;
    display: flex; /* Utilizar un modelo de caja flexible (flexbox) */
    justify-content: center; /* Centrar los elementos horizontalmente */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.nav-item {
    margin-right: 20px; /* Espaciado entre elementos */
   
}

.nav-item:last-child {
    margin-right: 0; /* Eliminar el margen derecho del último elemento */
}

.nav-item a {
    text-decoration: none; /* Eliminar subrayado de los enlaces */
    color: #fff; /* Color del texto de los enlaces */
    font-weight: bold; /* Texto en negrita */
    font-size: 28px; /* Tamaño de fuente */
}

.nav-item a:hover {
    color: gray;
}





:root{
    --sky-blue: #0fcdef;
    --dark-blue: #162b4e;
    --grey: #babcc2;
    --light-blue: #f8f9ff;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: var(--light-blue);
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url('../img/metal-dumbbells-with-background-blurred-gym-interior-free-photo.jpg');
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
    overflow: hidden;
}
.container{
    max-width: 1200px;
    margin: auto;
    text-align: center;
}
.card{
    text-align: center;
    background-color: rgb(17, 17, 17);
    max-width: 500px;
    margin: auto;
    padding-bottom: 2rem;
    width: 100%;
    -webkit-box-shadow: 0 2px 12px 3px rgba(53, 53, 53 0.1);
            box-shadow: 0 2px 12px 3px rgba(53, 53, 53 0.1);
    border-radius: 10px;
}
.card-head{
    position: relative;
    height: 130px;
}
.card-head a{
    position: absolute;
    left: 3rem;
    top: 3rem;
    text-decoration: none;
    background-color: rgb(165, 4, 4);
    color: #fff;
    border-radius: 3px;
    font-weight: 500;
    padding: 0.3rem 0.8rem;
    -webkit-box-shadow: 0 0 5px 0 rgba(206, 28, 28, 0.2);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: -webkit-box-shadow 300ms ease-in-out;
    transition: -webkit-box-shadow 300ms ease-in-out;
    -o-transition: box-shadow 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, -webkit-box-shadow 300ms ease-in-out;
}
.card-head a:hover{
    -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
}
.user-image img{
    width: 100%;
    height: 100%;
}
.user-image{
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.user-post-address{
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.user-post-address > div{
    padding: 0 2rem;
}
.user-post-address > div span{
    display: block;
}
.user-post-address > div span:first-child{
    font-weight: 700;
    font-size: 1.9rem;
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.user-post-address > div span:last-child{
    font-weight: 500;
    color: red;
    margin-top: 0.7rem;
}
.card-body{
    padding: 0 3rem 3.8rem 3rem;
}
.user-name{
    padding: 3rem 0 1.6rem 0;
    font-size: 1.9rem;
    color: white;
}
.user-name-title{
    font-weight: 700;
}
.user-name-full{
    font-weight: 600;
}
.user-age{
    color: white;
}
.user-location-address span{
    color: white;
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card-foot{
    padding-top: 2.4rem;
    margin: 2.4rem 3rem;
    border-top: 1px solid red;
}
.user-contact-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 1.8rem;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.user-contact-info span i{
    color: white;
}
.user-contact-info span{
    color: white;
}
#generate-btn{
    background-color: rgb(139, 0, 0);
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    border:none;
    padding: 0.8rem 1.2rem;
    margin-top: 3rem;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
#generate-btn:hover{
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 490px){
    .container{
        margin: 4rem auto;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .card-head a{
        position: relative;
        left: 0;
        top: 10rem;
    }
    .user-post-address{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .user-post-address > div{
        margin-bottom: 1.4rem;
    }
    .user-contact-info{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .user-contact-info span:first-child{
        margin-bottom: 2rem;
    }
}

.entrenadores{
    margin-bottom: 100px;
    color: rgb(252, 252, 252);
}