
body{
    background-image: url('../img/692039.jpg');
}

.logo-img{
    float: left;
    margin-right: 10px;
    width: 80px;
    height: 80px;
    margin-top: 0;
    justify-content: center;
   position: relative;
   bottom: 10px;
}

.navbar {
    background-color: #0f0f0f; 
    text-align: center; 
    padding: 10px 0; 
    width: 100%;
    height: 6%;
    position: fixed; 
    top: 0;
    left: 0; 
}

.nav-list {
    list-style: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

.nav-item {
    margin-right: 20px;
   
}

.nav-item:last-child {
    margin-right: 0; 
}

.nav-item a {
    text-decoration: none; 
    color: #fff; 
    font-weight: bold; 
    font-size: 28px; 
}

.nav-item a:hover {
    color: gray;
}



#tabla-precios {
    display:flex;
    width:100%;
    margin-top:10%;
    justify-content: center;
    align-content: center;
   }
   

   
   .precio-col {
    display:inline-block;
    background-color:#f3f3f3;
    width:100%;
    max-width:500px;
    border-radius:10px;
    margin-bottom:50px;
    box-shadow: 0px 2px 5px #ddd
   }
   
   @media screen and (min-width:768px) {
    .precio-col {
    width:32%;
    float:left;
    margin-right:2%
    }
    
    .precio-col:last-child {
    margin-right:0
    }
   }
   
  
   
   .precio-col-header {
    background-color:#333;
    padding:20px;
    border-top-left-radius:10px;
    border-top-right-radius:10px
   }
   
   .precio-col:nth-child(2) .precio-col-header {
    background-color:#dd3333
   }
   
   .precio-col-header h3 {
    color:#f3f3f3;
    text-align:center;
    font-size:30px;
    font-weight:600;
    margin-bottom:0
   }
   
   .precio-col-header p {
    text-align:center;
    color:#f3f3f3;
    font-size:14px;
    margin-bottom:0
   }
   

   
   .precio-col-features {
    padding: 0 20px 20px 20px
   }
   
   .precio-col-features p {
    padding:20px 0;
    margin:0;
    text-align:center;
    border-top:1px solid #ddd
   }
   
   .precio-col-features p:first-child,
   .precio-col-features p:last-child {
    border-top:none
   }
   

   
   .precio-col-comprar {
    padding:10px;
    max-width:250px;
    text-align:center;
    background-color:#dd3333;
    margin: 0 auto 20px;
    border-radius:10px;
    border: 2px solid #dd3333;
    transition: all 0.3s
   }
   
   .precio-col-comprar a {
    color:#f3f3f3;
    padding:10px;
    font-size:20px;
    text-transform:uppercase;
    transition: all 0.3s
   }
   
   .precio-col-comprar:hover {
    background-color:#f3f3f3;
    transition: all 0.3s
   }
   
   .precio-col-comprar:hover a {
    color:#dd3333;
    transition: all 0.3s
   }

   .fa-check{
    font-size: 24px;
   }
   .fa-xmark{
    font-size: 24px;
   }
   .fa-solid{
    margin-right: 10px;
   }
